dist/
build/
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions
.next/
.vscode/
.idea/
.idea/workspace.xml
.idea/modules.xml
.idea/vcs.xml
.idea/zivvochat.iml
.idea/.gitignore
*.swp
*~
npm-debug.log